<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SAE IT DEPARTMENT</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="subjects" class="nav-link">Subjects</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-subj" class="nav-link">Add Subject</a>
      </li>
      <li class="nav-item">
        <a routerLink="enrollments" class="nav-link">Enrollments</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-enroll" class="nav-link">Add Enroll</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
